@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-family: 'Muller', sans-serif;
}

body {
  background-color:#E5E5E5;
}

.container {
  max-width: 1200px;
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/*Header*/

.header {
  height: 154px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-up {
  max-width: 1170px;
  max-height: 54px;
  display: flex;
  margin-bottom: 30px;
}

.header-up-left {
  display: flex;
}

.logo {
  margin-right: 40px;
}

.header-number {
  display: flex;
  margin-right: 550px;
  font-size: 20px;
  font-weight: 500;
  color: #666666;
}

.header-up-right {
  display: flex;
  align-items: center;

}

.header-link-lk {
  padding-left: 25px;
  background-image: url("../img/link-lk-arrow.svg");
  background-position: left center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  font-size: 16px;
  font-weight: normal;
  color:#CC9933;
}

.nav-left-down {
  min-width: 1170px;
  min-height: 70px;
  margin: 0;
  padding-left: 45px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: hidden;
  border-radius: 15px;
}

.header-buttons {
  height: fit-content;
  display: flex;
  align-items: center;
  margin-left: 60px;
  padding-left: 50px;
  border-left: 1px solid #E1E1E1;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-link:not(:last-child) {
  margin-right: 55px;
  font-style: 16px;
  font-weight: normal;
  color: #666666;
}

.nav-link {
  font-style: 16px;
  font-weight: normal;
  color: #666666;
}

.btn {
  padding: 13px 20px;
  font-size: 16px;
  line-height: 1;
  color: #CC9933;
  background-color: #fff;
  border: #CC9933 solid 1px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-tour {
  margin-right: 40px;
  padding: 13px 20px;
  font-size: 16px;
  line-height: 1;
  color: #CC9933;
  background-color: #fff;
  border: #CC9933 solid 1px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-call {
  margin-right: 45px;
  padding: 13px 20px;
  font-size: 16px;
  line-height: 1;
  color: #CC9933;
  background-color: #fff;
  border: #CC9933 solid 1px;
  border-radius: 10px;
  cursor: pointer;
}

/*Main*/
/*Special*/

.container-section-special {
  margin: 0;
  margin-bottom: 70px;
  min-width: 1170px;
}

.section-heading {
  margin-top: 0;
  margin-left: 40px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: normal;
  color: #333333;
}

.left-card {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  margin-right: 23px;
}

.special-list {
  display: flex;
}

.special-item-maldivs {
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  background-image: url("../img/maldivs.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: hidden;
  border-radius: 15px;
}

.special-header-left {
  max-width: 335px;
  margin: 0;
  padding-bottom: 15px;
  padding-top: 40px;
  padding-left: 40px;
  font-size: 40px;
  font-weight: 700;
  color: #FFFFFF;
}

.special-cost {
  padding-left: 40px;
  padding-bottom: 47px;
  font-size: 20px;
  font-weight: normal;
  color: #FFFFFF;
}

.special-item-krit {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;

  background-image: url("../img/krit.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: hidden;
  border-radius: 15px;
}

.special-item-lux {
  width: 573px;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 50%;
  background-image: url("../img/lux-numbers.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: hidden;
  border-radius: 15px;
}

.special-header-right {
  margin: 0;
  max-width: 335px;
  padding-left: 40px;
  padding-bottom: 15px;
  font-size: 60px;
  font-weight: 700;
  color: #FFFFFF;
}

.special-link {
  max-width: 150px;
  padding-left: 40px;
  font-size: 16px;
  font-weight: normal;
  color: #FFCC66;
  background-image: url("../img/rectangle-link.svg");
  background-position: right center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

/*About*/

.container-section-about {
  padding: 0;
  margin-bottom: 70px;
  max-width: 890px;
  max-height: 230px;
}

.section-heading-about {
  margin-bottom: 11px;
  margin-top: 0;
  margin-left: 40px;
  font-size: 40px;
  font-weight: normal;
  color: #333333;
}

.about-description {
  margin-top: 0;
  font-size: 16px;
  font-weight: normal;
  display: flex;
}

/*Services*/

.container-section-services {
  padding: 0;
  margin-bottom: 70px;
  min-width: 1170px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.services-item {
  margin-right: 23px;
  margin-bottom: 23px;
  flex-wrap: wrap;
  max-width: 573px;
  min-height: 330px;
  border: hidden;
  border-radius: 15px;
  background-color: #FFFFFF;
}

.services-item-picture {
  border: hidden;
  border-radius: 15px 15px 0 0;
  background-color: #FFFFFF;
}

.services-item:nth-child(2) {
  margin-right: 0;
}

.services-item:nth-child(3) {
  margin-bottom: 0;
}

.services-item:nth-child(4) {
  margin-right: 0;
  margin-bottom: 0;
}

.services-item-link {
  display: inline-block;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 45px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: #CC9933;
  background-image: url("../img/rectangle-link.svg");
  background-position: right center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.services-item-description {
  margin: 0;
  padding-left: 45px;
  max-width: 410px;
  max-height: 51px;
  font-size: 16px;
  font-weight: normal;
}

/*Preferences*/

.container-section-preferences {
  padding: 0;
  margin-bottom: 70px;
  min-width: 1170px;
}

.section-heading-preferences {
  margin-bottom: 30px;
  margin-top: 0;
  margin-left: 40px;
  font-size: 40px;
  font-weight: normal;
  color: #333333;
}

.preferences-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.preferences-item:nth-child(4) {
  margin-right: 0;
}

.preferences-item:nth-child(8) {
  margin-right: 0;
}

.preferences-item {
  margin-right: 23px;
  margin-bottom: 23px;
  padding: 40px 42px 41px 45px;
  flex: 1 1 21%;
  background-color: #FFFFFF;
  border: hidden;
  border-radius: 15px;
}

.preferences-item-description {
  max-width: 188px;
  max-height: 118px;
  font-size: 16px;
  font-weight: normal;
}

/*Location*/

.container-section-location {
  padding: 0;
  margin-bottom: 70px;
  min-width: 1170px;
}

.location-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.location-item {
  min-width: 370px;
  min-height: 440px;
  margin-right: 23px;
  margin-bottom: 23px;
  flex: 1 1 30%;
  border: hidden;
  border-radius: 15px;
  background-color: #FFFFFF;
}

.location-item:nth-child(3) {
  margin-right: 0;
}

.location-item:nth-child(6) {
  margin-right: 0;
}

.location-item:nth-child(9) {
  display: flex;
  align-items: flex-end;
  margin-right: 0;
  margin-bottom: 0;
  background-image: url("../img/pic9.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.location-item:nth-child(7) {
  margin-bottom: 0;
}

.location-item:nth-child(8) {
  margin-bottom: 0;
}

.location-item-picture {
  border: hidden;
  border-radius: 15px 15px 0 0;
  background-color: #FFFFFF;
}

.location-item-cost {
  margin: 0;
  padding-right: 50px;
  padding-left: 45px;
  padding-top: 36px;
  padding-bottom: 16px;
}

.location-cost-text {
  font-style: 16px;
  font-weight: 500;
  color: #999999;
}

.location-cost-numeral {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

.location-stars {
  padding-top: 36px;
}

.location-item-name {
  padding-left: 45px;
  margin: 0;
  padding-bottom: 16px;
  font-size: 16px;
  font-weight: normal;
  color: #000000;
}

.location-item-country {
  padding-left: 45px;
  padding-bottom: 20px;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  color: #999999;
}

.location-cost-stars {
  display: flex;
  align-content: center;
}

.location-btn {
  margin-left: 45px;
  padding: 13px 20px;
  font-size: 16px;
  line-height: 1;
  color: #CC9933;
  background-color: #fff;
  border: #CC9933 solid 1px;
  border-radius: 10px;
  cursor: pointer;
}

.location-link {
  padding-left: 54px;
  margin-bottom: 27px;
  padding-right: 30px;
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
  background-image: url("../img/Rectangle-link-white.svg");
  background-position: right center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

/*Form*/

.container-section-travel {
  padding: 0;
  margin-bottom: 70px;
  min-width: 1170px;
  min-height: 274px;
  background-color: #E9E9E9;
  border: hidden;
  border-radius: 15px;
}

.section-heading-travel {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 40px;
  padding-bottom: 20px;
  padding-top: 38px;
  font-size: 40px;
  font-weight: normal;
  color: #333333;
}

.container-form {
  display: flex;
  max-width: 1080px;
  max-height: 106px;
  margin-right: 45px;
  margin-left: 45px;
  padding: 28px;
  background-color: #FFFFFF;
  border: hidden;
  border-radius: 15px;
}

.travel-form {
  display: flex;
  width: 100%;
}

.input {
  flex: 1 1 16%;
}

.city-block {
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* width: 189px; */
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #E1E1E1;
}

.input-departure {
  max-width: 169px;
  max-height: 43px;
  border: hidden;
}

.country-block {
  height: fit-content;
  display: flex;
  flex-direction: column;
  width: 180px;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #E1E1E1;
}

.input-country {
  max-width: 180px;
  max-height: 43px;
  border: hidden;
}

.date-block {
  height: fit-content;
  width: 150px;
  margin-right: 40px;
  border-right: 1px solid #E1E1E1;
}

.input-date {
  max-height: 43px;
  border: hidden;
}

.night-block {
  height: fit-content;
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-right: 40px;
  border-right: 1px solid #E1E1E1;
}

.input-nights {
  width: 120px;
  max-height: 43px;
  border: hidden;
  border-bottom: 1px solid #C4C4C4;
}

.tourist-block {
  height: fit-content;
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-right: 30px;
  border-right: 1px solid #E1E1E1;
}

.input-tourists {
  width: 120px;
  max-height: 43px;
  border: hidden;
  border-bottom: 1px solid #C4C4C4;
}

.btn-submit {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: normal;
  background-color: #FFFFFF;
  color: #CC9933;
  border: 1px solid #CC9933;
  border-radius: 10px;
}

.label-description {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  color: #000000;
}

/*Contacts*/

.container-section-contacts {
  padding: 44px 44px 46px 46px;
  margin-bottom: 20px;
  min-width: 1170px;
  min-height: 618px;
  background-color: #FFFFFF;
  border: hidden;
  border-radius: 15px;
}

.contacts-list {
  display: flex;
  flex-direction: row;
  flex: 1 1 50%;
  justify-content: space-between;
}

.contacts-left {
  margin-right: 45px;
  max-width: 380px;
  max-height: 528px;
  display: flex;
}

.contacts-item {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
}

.adress {
  padding: 0px 0px 25px 0px;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-bottom: 1px solid #C4C4C4;
}

.contacts-adress {
  margin-right: 80px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

.contacts-adress-description {
  max-width: 229px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  color: #000000;
}

.telephones {
  margin-bottom: 25px;
  padding: 0px 0px 25px 0px;
  display: flex;
  border-bottom: 1px solid #C4C4C4;
}

.contacts-telephones {
  margin-right: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

.contacts-links-tel {
  display: flex;
  flex-direction: column;
}

.contacts-tel {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #CC9933;
}

.emails {
  margin-bottom: 25px;
  padding: 0px 0px 25px 0px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #C4C4C4;
}

.contacts-email {
  margin-right: 80px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

.email-link-block {
  max-width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-email-link {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #CC9933;
}

.email-description {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #999999;
}

.schedule {
  margin-bottom: 50px;
  padding: 0px 0px 25px 0px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #C4C4C4;
}

.contacts-shedule {
  margin-right: 75px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

.contacts-shedule-description {
  max-width: 214px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  color: #000000;
}

.contacts-btn {
  max-width: 220px;
  padding: 27px 29px 27px 29px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #CC9933;
  background-color: #FFFFFF;
  border: 1px solid #CC9933;
  border-radius: 10px;
}

/*Footer*/

.container-footer {
  margin-bottom: 20px;
  max-width: 1170px;
  min-height: 340px;
  background-color: #333333;
  border: hidden;
  border-radius: 15px;
}

.footer-list {
  min-height: 340px;
  display: flex;
}

.footer-item-contract {
  margin-top: 44px;
  margin-right: 60px;
  margin-bottom: 50px;
  margin-left: 52px;
  max-width: 330px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.footer-item-description {
  margin: 0;
  padding-bottom: 30px;
  font-size: 16px;
  font-weight: normal;
  color: #FFFFFF;
}

.footer-link-contract {
  font-size: 16px;
  font-weight: normal;
  color: #CC9933;
}

.footer-item-contacts {
  max-width: 358px;
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.footer-link-tel {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 20px;
}

.footer-link-tel1 {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #CC9933;
}

.footer-link-tel2 {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #CC9933;
}

.footer-link-mail {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.footer-link-mail1 {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #CC9933;
}

.footer-link-mail2 {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #CC9933;
}

.footer-item-logo {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-item-social {
  margin-top: 44px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.footer-social-link {
  opacity: 0.5;
}
